.Rproj.user
.Rhistory
.RData
.Ruserdata
kith-search-data-analysis/1_get-api-data.Rmd
kith-search-data-analysis/cropping.pptx
kith-search-data-analysis/fb_post_print.pdf
kith-search-data-analysis/fb_post.docx
kith-search-data-analysis/growth_en_edilwsi.png
kith-search-data-analysis/growth_en_linked_social.png
kith-search-data-analysis/growth_en_linked.png
kith-search-data-analysis/growth_gr_edilwsi_apconsult.png
kith-search-data-analysis/growth_gr_linked_social.png
kith-search-data-analysis/growth_gr.png
kith-search-data-analysis/kith_anazitiseis_facebook.png
kith-search-data-analysis/kith_dimosiefsi_en-enhmerwmeno.docx
kith-search-data-analysis/kith_dimosiefsi_gr.docx
kith-search-data-analysis/linkedin_post.docx
kith-search-data-analysis/linkedin_post.pdf
kith-search-data-analysis/res_df_march24.rds
kith-search-data-analysis/screencapture-thessaloniki-gr-search-behaviour-research-monthly-online-searches-about-the-history-center-of-thessaloniki-rise-rapidly-in-greece-and-abroad-2023-09-21-16_17_13 - Copy.png
kith-search-data-analysis/screencapture-thessaloniki-gr-search-behaviour-research-monthly-online-searches-about-the-history-center-of-thessaloniki-rise-rapidly-in-greece-and-abroad-2023-09-21-16_17_13.pdf
kith-search-data-analysis/screencapture-thessaloniki-gr-search-behaviour-research-monthly-online-searches-about-the-history-center-of-thessaloniki-rise-rapidly-in-greece-and-abroad-2023-09-21-16_17_13.png
kith-search-data-analysis/5x7/countries_en.png
kith-search-data-analysis/5x7/countries_gr.png
kith-search-data-analysis/5x7/geo_en.png
kith-search-data-analysis/5x7/geo_gr.png
kith-search-data-analysis/5x7/growth_en.png
kith-search-data-analysis/5x7/growth_gr.png
kith-search-data-analysis/5x9/countries_en.png
kith-search-data-analysis/5x9/countries_gr.png
kith-search-data-analysis/5x9/geo_en.png
kith-search-data-analysis/5x9/geo_gr.png
kith-search-data-analysis/5x9/growth_en.png
kith-search-data-analysis/5x9/growth_gr.png
kith-search-data-analysis/cropped/@linkedin2.png
kith-search-data-analysis/cropped/croped3.png
kith-search-data-analysis/cropped/cropped.png
kith-search-data-analysis/cropped/cropped2.png
kith-search-data-analysis/cropped/proccessed-3.png
kith-search-data-analysis/cropped/process-thessgr.png
kith-search-data-analysis/cropped/processed-2.png
kith-search-data-analysis/cropped/procsseed-4.png
kith-search-data-analysis/graphs/countries_en.png
kith-search-data-analysis/graphs/countries_gr.png
kith-search-data-analysis/graphs/geo_en.png
kith-search-data-analysis/graphs/geo_gr.png
kith-search-data-analysis/graphs/growth_en.png
kith-search-data-analysis/graphs/growth_gr.png
kith-search-data-analysis/linkedin/english_greek_for_linkedin_nonewline123API.png
kith-search-data-analysis/linkedin/growth_en_linked_social.png
kith-search-data-analysis/linkedin/growth_en_linked.png
kith-search-data-analysis/graphs/growth_en_edilwsi.png
kith-search-data-analysis/graphs/growth_en_linked_social.png
kith-search-data-analysis/graphs/growth_en_linked.png
kith-search-data-analysis/graphs/growth_gr_edilwsi_apconsult.png
kith-search-data-analysis/graphs/growth_gr_linked_social.png
kith-search-data-analysis/graphs/kith_anazitiseis_facebook.png
kith-search-data-analysis/word-docs/fb_post_print.pdf
kith-search-data-analysis/word-docs/fb_post.docx
kith-search-data-analysis/word-docs/kith_dimosiefsi_en-enhmerwmeno.docx
kith-search-data-analysis/word-docs/kith_dimosiefsi_en.docx
kith-search-data-analysis/word-docs/kith_dimosiefsi_gr.docx
kith-search-data-analysis/word-docs/linkedin_post.docx
kith-search-data-analysis/word-docs/linkedin_post.pdf
startups-2022/startups-2022-plots/universe-startup-plots-LI/1.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/2.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/3.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/4.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/5.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/6.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/7.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/8.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/9.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/10.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/12.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/13.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/patchwork1.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/patchwork2.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/patchwork3_all_clusters4-1x_tranp-2.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/patchwork3_all_clusters4-1x_tranp-3.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/patchwork3_all_clusters4-1x_tranp.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/patchwork3_all_clusters4-1x.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/patchwork3_all_clusters4.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/patchwork3_all.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/patchwork3_all2.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/patchwork3_all3.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/patchwork3.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/search-intel-11.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups_flat.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups_tall_text_20_10.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups_tall_text_20.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups_tall_text_30_10__6_5legend.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups_tall_text_30_10__8_7legend.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups_tall_text_30_10__12_10legend_notitle_dodgeblue3.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups_tall_text_30_10__12_10legend_notitle_labscolor_caption_git.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups_tall_text_30_10__12_10legend_notitle_labscolor_caption.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups_tall_text_30_10__12_10legend_notitle_labscolor.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups_tall_text_30_10__12_10legend_notitle.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups_tall_text_30_10_legend.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups_tall_text_30_10.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups_tall_text.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups_tall.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/unistartups.png
startups-2022/startups-2022-plots/universe-startup-plots-LI/viduni.png
startups-2022/startups-2022-plots/evs.png
startups-2022/startups-2022-plots/medium.png
startups-2022/startups-2022-plots/tech_tw_w10_h6.png
startups-2022/startups-2022-plots/types1.png
startups-2022/startups-2022-plots/types6-5.png
startups-2022/startups-2022-plots/types9-7.5-right-italic.png
startups-2022/startups-2022-plots/types9-7.5-right.png
startups-2022/startups-2022-plots/types9-9.png
startups-2022/startups-2022-plots/types9-10.png
startups-2022/startups-2022-plots/types9-75.2.png
startups-2022/startups-2022-plots/types9-75.png
startups-2022/startup_search_data.csv
kith-search-data-analysis/misc-files-code-graphs-data/2_clean.Rmd
kith-search-data-analysis/misc-files-code-graphs-data/5_stats.Rmd
kith-search-data-analysis/misc-files-code-graphs-data/6_graphs-slides-themes-reports.Rmd
kith-search-data-analysis/misc-files-code-graphs-data/by_country_thess_history_center.png
kith-search-data-analysis/misc-files-code-graphs-data/ylikasyskevasias-kith.csv
kith-search-data-analysis/misc-files-code-graphs-data/γραφηματα-δεδομενα-βιογραφικο/2019-2023-μηνιαιες-αναζητήσεις-κιθ - Copy.csv
kith-search-data-analysis/misc-files-code-graphs-data/γραφηματα-δεδομενα-βιογραφικο/countries.png
kith-search-data-analysis/misc-files-code-graphs-data/γραφηματα-δεδομενα-βιογραφικο/dimos_perifereia_greece.png
kith-search-data-analysis/misc-files-code-graphs-data/γραφηματα-δεδομενα-βιογραφικο/english_greek.png
kith-search-data-analysis/misc-files-code-graphs-data/γραφηματα-δεδομενα-βιογραφικο/kith_kentriki.png
kith-search-data-analysis/misc-files-code-graphs-data/γραφηματα-δεδομενα-βιογραφικο/παπαγεωργιου-συντομο-βιογραφικο.docx
kith-search-data-analysis/misc-files-code-graphs-data/γραφηματα-δεδομενα-βιογραφικο/περιγραφη-ερευνας.docx
