.Rproj.user
.Rhistory
.RData
.Ruserdata
kith-search-data-analysis/1_get-api-data.Rmd
kith-search-data-analysis/cropping.pptx
kith-search-data-analysis/fb_post_print.pdf
kith-search-data-analysis/fb_post.docx
kith-search-data-analysis/growth_en_edilwsi.png
kith-search-data-analysis/growth_en_linked_social.png
kith-search-data-analysis/growth_en_linked.png
kith-search-data-analysis/growth_gr_edilwsi_apconsult.png
kith-search-data-analysis/growth_gr_linked_social.png
kith-search-data-analysis/growth_gr.png
kith-search-data-analysis/kith_anazitiseis_facebook.png
kith-search-data-analysis/kith_dimosiefsi_en-enhmerwmeno.docx
kith-search-data-analysis/kith_dimosiefsi_gr.docx
kith-search-data-analysis/linkedin_post.docx
kith-search-data-analysis/linkedin_post.pdf
kith-search-data-analysis/res_df_march24.rds
kith-search-data-analysis/screencapture-thessaloniki-gr-search-behaviour-research-monthly-online-searches-about-the-history-center-of-thessaloniki-rise-rapidly-in-greece-and-abroad-2023-09-21-16_17_13 - Copy.png
kith-search-data-analysis/screencapture-thessaloniki-gr-search-behaviour-research-monthly-online-searches-about-the-history-center-of-thessaloniki-rise-rapidly-in-greece-and-abroad-2023-09-21-16_17_13.pdf
kith-search-data-analysis/screencapture-thessaloniki-gr-search-behaviour-research-monthly-online-searches-about-the-history-center-of-thessaloniki-rise-rapidly-in-greece-and-abroad-2023-09-21-16_17_13.png
kith-search-data-analysis/5x7/countries_en.png
kith-search-data-analysis/5x7/countries_gr.png
kith-search-data-analysis/5x7/geo_en.png
kith-search-data-analysis/5x7/geo_gr.png
kith-search-data-analysis/5x7/growth_en.png
kith-search-data-analysis/5x7/growth_gr.png
kith-search-data-analysis/5x9/countries_en.png
kith-search-data-analysis/5x9/countries_gr.png
kith-search-data-analysis/5x9/geo_en.png
kith-search-data-analysis/5x9/geo_gr.png
kith-search-data-analysis/5x9/growth_en.png
kith-search-data-analysis/5x9/growth_gr.png
kith-search-data-analysis/cropped/@linkedin2.png
kith-search-data-analysis/cropped/croped3.png
kith-search-data-analysis/cropped/cropped.png
kith-search-data-analysis/cropped/cropped2.png
kith-search-data-analysis/cropped/proccessed-3.png
kith-search-data-analysis/cropped/process-thessgr.png
kith-search-data-analysis/cropped/processed-2.png
kith-search-data-analysis/cropped/procsseed-4.png
kith-search-data-analysis/graphs/countries_en.png
kith-search-data-analysis/graphs/countries_gr.png
kith-search-data-analysis/graphs/geo_en.png
kith-search-data-analysis/graphs/geo_gr.png
kith-search-data-analysis/graphs/growth_en.png
kith-search-data-analysis/graphs/growth_gr.png
kith-search-data-analysis/linkedin/english_greek_for_linkedin_nonewline123API.png
kith-search-data-analysis/linkedin/growth_en_linked_social.png
kith-search-data-analysis/linkedin/growth_en_linked.png
